---
const { title } = Astro.props;
import About from "../components/About.astro";
import Classes from "../components/Classes.astro";
import Footer from "../components/Footer.astro";
import Frontpage from "../components/Frontpage.astro";
import Frontpagetext from "../components/Frontpagetext.astro";
import Tradition from "../components/Tradition.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Frontpage />
    <Classes />
    <Tradition />
    <Frontpagetext />
    <About />
    <Footer />
  </body>
</html>
