<section class="about">
  <div class="our-story">
    <h2>Sustainability</h2>
    <br />
    <p>Discover the allure of our sustainable African jewelry collection. Handcrafted with love, each piece showcases African heritage and craftsmanship. We prioritize responsible sourcing, using recycled metals and natural gemstones. By partnering directly with artisans, we empower local communities and ensure fair wages. Embracing eco-friendly practices, we minimize waste and reduce our environmental impact. Choose our jewelry to make a stylish statement while supporting sustainability. Join us in celebrating African culture and preserving our planet for future generations.</p>
    <br /><br /><br /><br />
    <a href="#"><h3>Our story <i class="fa-solid fa-arrow-right"></i></h3></a>
  </div>
  <div class="vidContainer">
  <video autoplay muted loop class="video">
    <source src="/imgs/video2.mp4" type="video/mp4" />
  </video>
</div>
</section>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Ubuntu:wght@300&display=swap');

  @import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  @font-face {
    font-family: myFirstFont;
    src: url("/Fonts/RoxboroughCF.ttf");
}

  html {
    font-family: "myFirstFont";
    overflow-x: hidden;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .our-story{
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }

  .picSpan {
    display: grid;
    object-fit: cover;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  :root {
    --main-color: #ebebeb;
    --secondary-color: #1b1b1b;
  }

  section {
    padding: 5%;
  }
  .about {
    color: var(--secondary-color);
    display: flex;
    text-decoration: none;
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  .about h2 {
    font-family: "myFirstFont", sans-serif;
    text-align: center;
  }
  .about p {
    font-family: 'Eagle Lake', cursive;
  font-family: 'Ubuntu', sans-serif;
    line-height: 150%;
    font-size: 1.2rem;
  }
  .video {
    width: 100%;
    display: inline;
    margin: auto;
    padding-top: 3rem;
    flex: 1;
  }
  a {
    text-decoration: none;
    color: black;
  }

  @media screen and (max-width: 750px) {
  .about{
    display: flex;
    flex-direction: column;
    justify-content: sp;
  }

  .vidContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  
}
  @media screen and (min-width: 768px) {
    body {
      padding: 0% 10%;
    }

      .about {
        display: flex;
        gap: 5rem;
        justify-content: space-between;
      }
      .about img {
        width: 50%;
      }
      .about h2 {
        text-align: start;
      }
      
    }



  
</style>
<script src="https://kit.fontawesome.com/f1ba43c5c7.js" crossorigin="anonymous"></script>
