---
---

<p>Designers</p>

<div class="container">
  <div class="boxTxt"><img src="/imgs/Shikhazuri.png" alt="" /> <h2>Shikhazuri</h2></div>
  <div class="boxTxt"><img src="/imgs/Pichulik.png" alt="" /> <h2>Pichulik</h2></div>
  <div class="boxTxt"><img src="/imgs/Soko.png" alt="" /> <h2>Soko</h2></div>
  <div class="boxTxt"><img src="/imgs/Nina.png" alt="" /> <h2>Nina Bosch</h2></div>
</div>

<style>

@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Ubuntu:wght@300&display=swap');
  @font-face {
    font-family: myFirstFont;
    src: url("/Fonts/RoxboroughCF.ttf");
}
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
    gap: 10rem;
  }

  .boxTxt {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  p {
    
    font-size: 50px;
  }

  h2 {
    font-family: 'Eagle Lake', cursive;
  font-family: 'Ubuntu', sans-serif;
  }

  img {
    width: 100%;
    border-radius: 0%;
  }

  .circle {
    background-color: black;
  }

  @media screen and (max-width: 750px) {
  .container{
    display: flex;
    flex-direction: column;
    
    
  }
  }
</style>
