---

---


<div class="dotsGrid">
    <div class="dots">
    <i class="fa-regular fa-circle"></i>
    <i class="fa-regular fa-circle"></i>
    <i class="fa-regular fa-circle"></i>
</div>
</div>


<style>
    .dotsGrid{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        
    }

    .dots{
        display: flex;
        justify-content: center;
        gap: 5rem;
        margin: 2rem;
    }
</style>


<script src="https://kit.fontawesome.com/f1ba43c5c7.js" crossorigin="anonymous"></script>