<br /><br /><hr />
<div class="footer">
  <div class="footercontent">
    <div class="box1">
      <h1><i class="fa-solid fa-location-dot fa-sm" style="color: ##2c2c2c;"></i> Find us</h1>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.338239633417!2d12.4332755949705!3d55.71787382525301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465251af377e2ead%3A0x6d8b2ec905f1c191!2zSMO4cmvDpnIgMTlBLCAyLCAyNzMwIEhlcmxldg!5e0!3m2!1sda!2sdk!4v1685225099303!5m2!1sda!2sdk" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="box2">
      <h1><i class="fa-solid fa-phone fa-sm" style="color: ##2c2c2c;"></i> Contact</h1>
      <p>House of African Jewellers <br /> Hørkær 19A, 2-3<br />2730 Herlev<br />Danmark</p>

      <p>Tlf.: +45 22 50 13 31</p>
    </div>
    <div class="box3">
      <h1><i class="fa-solid fa-envelope fa-sm" style="color: ##2c2c2c;"></i> sales@chioniso.com</h1>
      <p>Need help?<br /><br />Just send us a mail or reach out on our social media channels.</p>
    </div>
    <div class="box4">
      <h1>Follow us</h1>
      <a href="https://www.instagram.com/chioniso_com/"><i class="fa-brands fa-instagram fa-2x" style="color: #2c2c2c;"></i></a>
      <a href="https://www.facebook.com/chionisodk"><i class="fa-brands fa-facebook fa-2x" style="color: #2c2c2c;"></i></a>
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
  .line {
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: -4.5rem;
  }
  .footercontent {
    display: flex;
  }
  .box1,
  .box2,
  .box3,
  .box4 {
    flex: 25%;
    text-align: center;
    margin-top: 2.7rem;
  }
  h1 {
    color: #2c2c2c;
    font-size: medium;

    font-family: "M PLUS 1 Code", sans-serif;
  }
  p {
    font-family: "M PLUS 1 Code", sans-serif;
  }
  .footer {
    height: 17rem;
    background-color: #ffffff;
  }
</style>
<script src="https://kit.fontawesome.com/f1ba43c5c7.js" crossorigin="anonymous"></script>
