<div class="description">
  <h2>Bridging the gap between makers and users by sharing the stories and traditions behind the products we sell.</h2>
</div>
<style>
  * {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;

    box-sizing: border-box;
  }
  h2 {
    font-family: "M PLUS 1 Code", sans-serif;
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
  }
  h3 {
    font-family: "M PLUS 1 Code", sans-serif;
    font-size: 1.25rem;
    line-height: 125%;
  }
  .description {
    color: var(--secondary-color);
    text-align: center;
    font-family: "argonite", sans-serif;
    padding: 10% 0%;
  }
</style>
