---

---




<div class="nav">
    <a href="">Halskæde</a>
    <a href="">Øreringe</a>
    <a href="">Ringe</a>
    <a href="">Armbånd</a>
    <a href="">Others</a>
</div>

<style>

@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Ubuntu:wght@300&display=swap');
  @font-face {
    font-family: myFirstFont;
    src: url("/Fonts/RoxboroughCF.ttf");
}
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    
}

a{
  font-family: myFirstFont;
    font-size: 2rem;
        text-decoration: none;
        color: black;
        margin: 2rem;
}

@media screen and (max-width: 750px) {
  .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }
  }
</style>