---

---




<div class="nav">
    <a href="">Halskæde</a>
    <a href="">Øreringe</a>
    <a href="">Ringe</a>
    <a href="">Armbånd</a>
    <a href="">Others</a>
</div>

<style>
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    
}

a{
    font-size: 2rem;
        text-decoration: none;
        color: black;
        margin: 2rem;
}
</style>