<section class="about">
  <img src="/imgs/Theodora necklace banner 2.jpg" alt="dddd" />
  <div class="our-story">
    <h2>Our story...</h2>
    <br />
    <p>
      Chioniso showcases women jewellery designers who are committed to supporting the empowerment of women artisans. The concept is built around promoting the visibility of women African jewellery designers on international platforms. Chioniso is passionate about showing the creativity coming out of Africa and uplifting young entrepreneurs.
      <br />
      <br />
      Chioniso is a limited edition selection that embodies Africa’s beauty, colours, nature, and diverse cultures. The designers’ personal stories and the character of each collection inspire these minimalistic pieces designed for the ethically conscious woman. With each piece, I share with you the stories that resonate with me. They are stories of heroines, strength, courage, community, balance, and embracing individuality.
      <br />
      <br />
      The collaboration with Gigtforeningen is personal. I have also benefitted from their work as someone diagnosed with lupus (SLE), Sjogren’s syndrome, fibromyalgia, and sarcoidosis. My health team directed me towards Gigtforeningen’s services when I felt physically, emotionally, and mentally defeated by illness. I can attribute the courage to start Chioniso to an important lesson I learned at water aerobics…..I have limitations, but I can do; within my limits.
      <br />
      <br />
      I love stories, so I invite you to share with me the inspiration behind your favourite picks from Chioniso. Drop me a message or picture and tell me which pieces speak to you.
      <br />
      <br /><br />
      Love
      <br />
      <br />
      Adelaide, Chioniso
    </p>
  </div>
</section>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Ubuntu:wght@300&display=swap');
  @font-face {
    font-family: myFirstFont;
    src: url("/Fonts/RoxboroughCF.ttf");
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Eagle Lake', cursive;
  font-family: 'Ubuntu', sans-serif;
  }
  :root {
    --main-color: #ebebeb;
    --secondary-color: #1b1b1b;
  }

  section {
    padding: 5%;
    /* padding: 5% 15%; Kun brug denne hvis intet billede på siden*/
  }
  .about {
    color: var(--secondary-color);
  }
  .about h2 {
    font-family: "myFirstFont", sans-serif;
    text-align: center;
  }
  .about p {
    line-height: 150%;
    font-size: 1.2rem;
  }
  .about img {
    width: 100%;
    object-fit: scale-down;
  }

  @media screen and (min-width: 768px) {
    body {
      padding: 0% 10%;

      .about {
        display: flex;
        gap: 5rem;
        justify-content: space-between;
      }
      .about img {
        width: 50%;
      }
      .about h2 {
        text-align: start;
      }
    }
  }
</style>
