---

---


<div class="shopButton">
    <a href="listview">Shop Now</a>
    
</div>


<style>
    .shopButton, a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: black;
        width: 20rem;
        height: 4.5rem;
        font-size: 2.5rem;
        border-radius: 10px;
        text-decoration: none;
        font-family: 'Eagle Lake', cursive;
  font-family: 'Ubuntu', sans-serif;
    }


    @media screen and (max-width: 750px) {
  .shopButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
  }
  }
</style>