<section>
    <div class="container">
        <div>
        <img src="/src/imgs/placeholderfront.jpg" alt="">
        </div>
        <div class="text">
            <p>Crafted by <br> Tradition</p>
            <div class="text">
                <p>tes test test test</p>
            </div>
        </div>
        
    </div>
</section>



<style>
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .text {
        display: flex;
        justify-content: left;
        font-size: 25px;

        margin: 10px;
    }
</style>