<section class="about">
  <img src="/imgs/1.jpeg" alt="dddd" />
  <div class="our-story">
    <h2>Crafted by tradition</h2>
    <br />
    <p>Welcome to our captivating collection of African jewelry, meticulously crafted to celebrate tradition. Each piece embodies the rich heritage and exceptional artistry of African artisans. Immerse yourself in the allure of their craftsmanship as you explore our diverse range of designs. <br> <br> From intricately woven patterns to vibrant beadwork, our jewelry tells stories of cultural significance and timeless beauty. Discover the perfect piece to adorn yourself or to gift someone special. <br> Let our African jewelry collection be a reflection of your appreciation for tradition and the enduring allure of craftsmanship.</p>
    <br /><br /><br /><br />
    <a href="#"><h3>Our story <i class="fa-solid fa-arrow-right"></i></h3></a>
  </div>
</section>

<style>
  
  @import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap");

  @import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Ubuntu:wght@300&display=swap');
  @font-face {
    font-family: myFirstFont;
    src: url("/Fonts/RoxboroughCF.ttf");
}


  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .picSpan {
    display: grid;
    object-fit: cover;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  :root {
    --main-color: #ebebeb;
    --secondary-color: #1b1b1b;
  }

  section {
    padding: 5%;
  }
  .about {
    color: var(--secondary-color);
  }
  .about h2 {
    font-family: "myFirstFont", sans-serif;
    text-align: center;
  }
  .about p {
    font-family: 'Eagle Lake', cursive;
  font-family: 'Ubuntu', sans-serif;
    line-height: 150%;
    font-size: 1.2rem;
  }
  .about img {
    
    width: 100%;
  }
  a {
    font-family: "myFirstFont", sans-serif;
    text-decoration: none;
    color: black;
  }
  @media screen and (min-width: 768px) {
    body {
      padding: 0% 10%;

      .about {
        display: flex;
        gap: 5rem;
        justify-content: space-between;
      }
      .about img {
        width: 50%;
      }
      .about h2 {
        text-align: start;
      }
    }
  }
</style>
<script src="https://kit.fontawesome.com/f1ba43c5c7.js" crossorigin="anonymous"></script>
